<div class="item">
            <div>Razão Social</div>
            <div>
                <input 
                    type="text"
                    name="name_social"
                    placeholder="Razão Social"
                    value="{{member.name_social}}"
                    >
            </div>
        </div>
        <div class="item">
            <div>Nome Fantasia</div>
            <div>
                <input 
                    type="text"
                    name="name"
                    placeholder="Nome fantasia"
                    value="{{member.name}}">
            </div>
        </div>
        <div class="item">
            <div>CNPJ</div>
            <div>
                <input 
                    type="text"
                    name="cnpj"
                    placeholder="CNPJ"
                    value="{{member.cnpj}}">
            </div>
        </div>
        <div class="item">
            <div>Responsavel</div>
            <div>
                <input 
                    type="text"
                    name="name_contato"
                    placeholder="Nome do contato"
                    value="{{member.name}}">
            </div>
        </div>
        <div class="item">
            <div>Endereço</div>
            <div>
                <input 
                    type="text"
                    name="address"
                    placeholder="Endereço"
                    value="{{member.address}}">
            </div>
        </div>
        <div class="item">
            <div>email</div>
            <div>
                <input 
                    type="text"
                    name="email"
                    placeholder="email"
                    value="{{member.email}}">
            </div>
        
        </div>
        <div class="item">
            <div>Vencimento</div>
            <div>
                <input 
                    type="date"
                    name="vencimento"
                    value="{{member.vencimento}}">
            </div>
        </div>
        <div class="item">
            <div>Responsavel</div>
            <div>
                <input 
                    type="text"
                    name="phone"
                    placeholder="coloque o DDD"
                    value="{{member.phone}}">
            </div>
        </div>
        <button type="submit">Salvar</button>