{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <a href="/members/create">Novo</a>
    <table width="100%">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Razão Social</th>
                <th>Chips</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members%}
            <tr>
                <td>
                    <span class="avatar-member" 
                        style="background: url(../assets/fortegps.jpg);
                        background-size: cover;
                        width: 80px;
                        height: 80px;
                    "></span>
                </td>
                <td>{{member.name_contato}}</td>
                <td>{{member.total_iot}} </td>
                <td><a href="/members/{{member.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content%}