<div class="item">
            <div>Operadora</div>
            <div>
                <input 
                    type="text"
                    name="operadora"
                    placeholder="Operadora"
                    value="{{chip.operadora}}"
                    >
            </div>
        </div>
        <div class="item">
            <div>ICCID</div>
            <div>
                <input 
                    type="text"
                    name="iccid"
                    placeholder="Nome do membro"
                    value="{{chip.iccid}}">
            </div>
        </div>
        <div class="item">
            <div>LINHA</div>
            <div>
                <input 
                    type="text"
                    name="number"
                    placeholder="Nome do membro"
                    value="{{chip.number}}">
            </div>
        </div>
        <div class="item">
            <div>Data de ativação</div>
            <div>
                <input 
                    type="date"
                    name="active"
                    value="{{chip.active}}">
            </div>
        </div>
        <div class="item">
            <div>Status</div>
            <div>
                <span>
                    <input 
                        type="radio"
                        name="status"
                        value="1"
                        {% if chip.status == '1'%}
                            checked
                        {% endif%}
                        >ATIVO
                </span>
                <span>
                    <input 
                        type="radio"
                        name="status"
                        value="0"
                        {% if chip.status == '0'%}
                            checked
                        {% endif%}
                        >DESATIVO
                </span>
            </div>
        </div>
        <div class="item">
            <div>Alocado</div>
            <div>
                <select name="location">
                    <option value="D FORTEGPS">Deposito ForteGPS</option>
                    <option value="D GBA">Deposito GBA</option>
                    <option value="D FORTEGPS">Deposito GPRS</option>
                </select>
            </div>
        </div>
        <div class="item">
            <div>Valor real </div>
            <div>
                <input 
                    type="text"
                    name="value_true"
                    placeholder="Valor unitario padrão do chip"
                    value="{{chip.value_true}}">
            </div>
        </div>
        <div class="item">
            <div>Valor</div>
            <div>
                <input 
                    type="text"
                    name="value"
                    placeholder="Valor cobrado pelo o chip"
                    value="{{chip.value}}">
            </div>
        </div>
        <button type="submit">Salvar</button>