{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <a href="/chips/create">Novo chip</a>
    <table width="100%">
        <thead>
            <tr>
                <th>ICCD</th>
                <th>NÚMERO</th>
                <th>ação</th>
            </tr>
        </thead>
        <tbody>
            {% for chip in chips%}
            <tr>
                <td>
                {{chip.iccid}}</td>
                <td>{{chip.number}}</td>
                <td><a href="/chips/{{chip.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content%}