{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
    class="avatar"
    style="width: 400px; height: 200px; background: url()"
    >Fortegps<br/>GBA<br/>la<br/>rASTREC<br/>FortalGPS</section>
    <section>10 chip<br/>10 chip<br/>10 chip<br/>30 chip<br/>20 chip</section>
</div>

{% endblock content%}