{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">

    <div class="header">    
        <a class="button" href="/chips/create">Novo</a>
        <form action="/chips" method="GET">
            <input 
            type="text"
            name="filter"
            placeholder="Filtrar por linha"
            value="{{filter}}"
            >
            <button type="submit">Filtrar</button>

        </form>
    </div>
    
    <table width="100%">
        <thead>
            <tr>
                <th>ICCD</th>
                <th>NÚMERO</th>
                <th>Usuario</th>
                <th>ação</th>
            </tr>
        </thead>
        <tbody>
            {% for chip in chips%}
            <tr>
                <td>
                {{chip.iccid}}</td>
                <td>{{chip.number}}</td>
                <td>{{chip.member_name}}</td>
                <td><a href="/chips/{{chip.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content%}